# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env
*.pth                 # Ignore .pth files (sometimes created in site-packages)
*.egg-info/           # Ignore Python egg info
pip-log.txt           # Pip logs
*.egg                 # Egg files

# Byte-compiled / optimized / DLL files
*.so
*.dylib
*.dll

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache folders sometimes created by pip
__pypackages__/

# Rust
/target/
**/*.rs.bk

# Node / TypeScript / Tauri / Electron
node_modules/
dist/
build/
*.log

# VSCode and OS
.vscode/
.DS_Store
Thumbs.db

# Python runtime embedded folder (optional if you want to exclude runtime binaries)
/python-runtime/

# Agent Dev
.agents/
.agent/
.cursor/
.gemini/
.opencode/
.claude/
CLAUDE.md
weights/
.mp4/

